.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  margin-left: 10%;
  overflow: hidden;
}

.profile__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #424242;
}

.profile__info {
  flex-grow: 1;
}

.profile__name {
  font-size: 24px;
  font-weight: bold;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__about {
  font-size: 16px;
  color: #bdbdbd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__edit-button {
  width: 20px;
  position: relative;
  right: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile__add-button {
  position: relative;
  right: 10%;
  background-color: rgb(0, 0, 0);
  border-style: none;
  transition: background-color 0.3s;
}

.profile__add-button:hover {
  background-color: rgb(100, 158, 215);
}

.profile__edit-button:hover {
  background-color: #2980b9;
} 

.images {
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card__title {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-button {
  border-radius: 40%;
  object-fit: cover;
  border-style: none;
}

.card__info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.card__like-button {
  width: 20px;
  cursor: pointer;
  object-fit: cover;
}

.card__like-button:hover {
  color: #515151;
  background-color: rgba(63, 63, 63, 0.3);
  border-radius: 50%;
}

@media (max-width: 1167px) and (min-width: 769px) {
  .profile__image {
    width: 10%;
    object-fit: cover;
  }  
  .images {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .profile__edit-button, .profile__add-button {
    width: 80%;
    margin: 0 auto;
    position: static;
    width: 50%;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .profile__edit-button, .profile__add-button {
    width: 80%;
    margin: 0 auto;
    position: static;
    width: 50%;
  }
  .images {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .images {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__about {
    font-size: 14px;
  }

  .profile__edit-button, .profile__add-button {
    width: 80%;
  }
}
